html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.header {
  background-color: #f59032;
  padding: 0.1rem;
  color: #ffffff;
}

.main {
  margin-top: 1rem;
}

.japanese {
  font-size: 120%;
  line-height: 1.5rem;
}

.btn {
  text-decoration: none;
  height: 2rem;
  color: #000000;
  border: solid 2px #000000;
  border-radius: 3px;
  transition: 0.4s;
  font-size: 15px;
  background-color: #e8f6f7;
  outline: none;
  margin-top: 0.5rem;
}

.btn:hover {
  background: #f59032;
  cursor: pointer;
}

.english {
  font-size: 120%;
  line-height: 1.5rem;
}

#err {
  color: #ff0000;
}